@layout('Layouts/base')
@set('titulo', 'SlayDios')

@section('style')
    <link rel="stylesheet" type="text/css" href="/css/homeStyle.css"> 
    <link rel="stylesheet" type="text/css" href="/css/indexStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/menuLateral.css">
@end