@layout('Layouts/base')
@set('titulo', 'SlayDios')

@section('body')
    <div>
        @each(item in video_histories)
            <a href="{{ route('videos.showLogged', { id: item.video_id }) }}">{{item.video_id}}</a>
            <td> {{item.created_at}} </td>
        @end
    </div>
@endsection