<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="A nova plataforma de vídeos estudantis">
    <link rel="stylesheet" type="text/css" href="/css/baseStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/homeStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/showLoggedStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/menuLateral.css">
    <title> Vídeos - SlayDios </title>
</head>
<body>
    <header id="cabecalho" class="cabecalho">
        <div class="cabecalho-start">
            <input class="input-menu-lateral" onclick="abrirMenu()" id="check" type="checkbox">
            <label class="label-menu-lateral" for="check">
                <img class="img-menu-lateral" src="images/menu-lateral.png">
            </label>
            <a class="ancora-logo-adm" href="{{ route('videos.admin')}}"> <img class="cabecalho-logo" src="images/logo.png"> </a>
        </div>
        @if(!auth.isLoggedIn)
            <div class="cabecalho-menu">
                <a class="cabecalho-menu-link" href="{{ route('auth.profile') }}"> <img src="images/icons/user.svg"> </a>
                <a class="cabecalho-menu-link" href="{{ route('auth.destroy') }}"> Logout </a>
                <a class="cabecalho-menu-link" href="{{ route('videos.create') }}"> Adicionar Vídeos </a>
            </div>        
        @end
    </header>
    <nav id="menu" class="nav-menu-lateral">
        <a class="menu-lateral-link" onclick="fecharMenu()" href="#"> <img src="images/icons/close.svg"> Fechar </a>  
        <hr class="hr-1">
        <a class="menu-lateral-link" href="{{ route('videos.admin')}}"> <img src="images/icons/home.svg"> Início </a> 
        <a class="menu-lateral-link" href="#"> <img src="images/icons/library.svg"> Biblioteca </a> 
        <a class="menu-lateral-link" href="#"> <img src="images/icons/historic.svg"> Histórico  </a>
        <hr class="hr-2">
    </nav>
    <div id="conteudo" class="main">
        <h1> Vídeos </h1>   
        <div class="show">
            <label> Título:</label>
            {{ video.titulo }}
        </div>
        <div class="show">
            <label> Descrição:</label>
            {{ video.description }}
        </div>
        <p></p> 
        <div class="show">
            <iframe width="560" height="315" src="{{video.link}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>  
    </div>
    <script>
        function abrirMenu(){
            document.getElementById('menu').style.width = '250px';
            document.getElementById('conteudo').style.marginLeft = '250px';
        }
        function fecharMenu(){
            document.getElementById('menu').style.width = '0';
            document.getElementById('conteudo').style.marginLeft = '0';
        }
    </script>  
</body>
</html>