<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="A nova plataforma de vídeos estudantis">
    <link rel="stylesheet" type="text/css" href="/css/baseStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/homeStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/showStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/menuLateral.css">
    <title> Vídeos - SlayDios </title>
</head>
<body>
    <header id="cabecalho" class="cabecalho">
        <div class="cabecalho-start">
            <input class="input-menu-lateral" onclick="abrirMenu()" id="check" type="checkbox">
            <label class="label-menu-lateral" for="check">
                <img class="img-menu-lateral" src="images/menu-lateral.png">
            </label>
            <a class="ancora-logo-adm" href="{{ route('videos.admin')}}"> <img class="cabecalho-logo" src="images/logo.png"> </a>
        </div>
        @if(!auth.isLoggedIn)
            <div class="cabecalho-menu">
                <a class="cabecalho-menu-link" href="{{ route('auth.profile') }}"> <img src="images/icons/user.svg"> </a>
                <a class="cabecalho-menu-link" href="{{ route('auth.destroy') }}"> Logout </a>
                <a class="cabecalho-menu-link" href="{{ route('videos.create') }}"> Adicionar Vídeos </a>
            </div>        
        @end
    </header>
    <nav id="menu" class="nav-menu-lateral">
        <a class="menu-lateral-link" onclick="fecharMenu()" href="#"> <img src="images/icons/close.svg"> Fechar </a>  
        <hr class="hr-1">
        <a class="menu-lateral-link" href="{{ route('videos.admin')}}"> <img src="images/icons/home.svg"> Início </a> 
        <a class="menu-lateral-link" href="#"> <img src="images/icons/library.svg"> Biblioteca </a> 
        <a class="menu-lateral-link" href="{{ route('videos.hist')}}"> <img src="images/icons/historic.svg"> Histórico  </a>
        <hr class="hr-2">
    </nav>
    <div id="conteudo" class="main">
        <div class="container">
            <div class="video">
                <iframe src="{{video.link}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>   
            <div class="show">
                <h2 class="text">{{ video.titulo }}</h2>
                <h3 class="text">{{ video.description }}</h3>
            </div>
            <div class="video-bottom-interations">
                <div class="like-dislike">
                    <button onclick="like()" type="button" class="btn-like">
                        <img id="likeImg" class="img-like-dislike" src="{{ asset('assets/images/icons/like.svg') }}">
                        <span>{{video.likes}}</span>
                    </button>
                    <button type="button" class="btn-dislike">
                        <img class="img-like-dislike" src="{{ asset('assets/images/icons/dislike.svg') }}">
                    </button>
                </div>
                <h2> Vizualizações: {{video.views}}</h2>
            </div>
        </div> 
    </div>
    <script>
        function abrirMenu(){
            document.getElementById('menu').style.width = '250px';
        }
        function fecharMenu(){
            document.getElementById('menu').style.width = '0';
        }
        function like(){
            {{video.likes}} += 1
        }
    </script>  
</body>
</html>