<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> SlayDios </title>
    <link rel="stylesheet" type="text/css" href="/css/homeStyle.css">
</head>
<body>

    <div class="main">
        @if(auth.isLoggedIn)
        <div class="links">
            <a href="{{ route('auth.destroy') }}"> Logout </a>
        </div>
        @end
        @if(auth.isLoggedIn)
        <div class="links">
            <a href="{{ route('videos.create') }}"> Adicionar Vídeos </a>
        </div>
        @end
            
        <h1> Bem Vindo ao SlayDios </h1>
        <h2> Vídeos Recentes </h2>

        <div class="videos">
            <fieldset>
                <table>
                    <thead>
                        <tr>
                            <th colspan="2"> Módulo 01: Introdução HTML </th>
                        </tr>
                    </thead>
                    <tbody>
                        @each(item in videos)
                            <tr>
                                <td> <a href="{{ route('videos.show', { id: item.id }) }}"> {{item.titulo}} </a> </td>
                                <td> {{item.description}} </td>
                                <td> <a href="{{ route('videos.destroy', { id: item.id }) }}"> deletar</a> </td>
                            </tr>
                        @end
                    </tbody>
                </table>
            </fieldset>
        </div>
    </div>
    </div>
    
</body>
</html>