<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content=" Entre para o SlayDios e faça parte da nova plataforma de vídeos estudantis">
    <link rel="stylesheet" type="text/css" href="/css/baseStyle.css"> 
    <link rel="stylesheet" type="text/css" href="/css/homeStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/menuLateral.css">
    <link rel="stylesheet" type="text/css" href="/css/menuDropStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/editProfileStyle.css">
    <title> Meu perfil </title>
</head>
<body>

    <header id="cabecalho" class="cabecalho">
        <div class="cabecalho-start">
            <input class="input-menu-lateral" onclick="abrirMenu()" id="check" type="checkbox">
            <label class="label-menu-lateral" for="check">
                <img class="img-menu-lateral" src="{{ asset('assets/images/icons/menu.svg') }}">
            </label>
            <a class="ancora-logo" href="{{ route('videos.admin')}}"> <img class="cabecalho-logo" src="{{ asset('assets/images/img/logo.png') }}"> </a>
        </div>
        @if(auth.isLoggedIn)
            <div class="cabecalho-menu">
                <img class="user-img" onclick="openMenu()" src="{{ asset('assets/images/icons/user.svg') }}"> 
                <div id="subMenu" class="sub-menu-wrap">
                    <div class="sub-menu">
                        <div class="user-info">
                            <h3>{{auth.user.user}}</h3>
                            <!--<a class="cabecalho-menu-link" href="{ route('auth.destroy') }}"> Logout </a>-->
                            <!--<a class="cabecalho-menu-link" href="{ route('videos.create') }}"> Adicionar Vídeos </a>-->
                        </div>
                        <hr>
                        <a class="sub-menu-link" href="{{ route('auth.profile') }}"> 
                            <img src="{{ asset('assets/images/icons/editProfile.svg') }}">  
                            <p>Editar Perfil</p>
                            <span>></span>
                        </a>
                        <a class="sub-menu-link" href="{{ route('videos.create') }}"> 
                            <img src="{{ asset('assets/images/icons/upload.svg') }}">
                            <p>Adicionar Vídeos</p>
                            <span>></span>
                        </a>
                        <a class="sub-menu-link" href="{{ route('auth.destroy') }}"> 
                            <img src="{{ asset('assets/images/icons/logout.svg') }}">
                            <p>Sair</p>
                            <span>></span>
                        </a>
                    </div>
                </div>
            </div>        
        @end
    </header>

    <nav id="menu" class="nav-menu-lateral">
        <a class="menu-lateral-link" onclick="fecharMenu()" href="#"> <img src="{{ asset('assets/images/icons/close.svg') }}"> Fechar </a>  
        <hr class="hr-1">
        <a class="menu-lateral-link" href="{{ route('videos.admin')}}"> <img src="{{ asset('assets/images/icons/home.svg') }}"> Início </a> 
        <a class="menu-lateral-link" href="#"> <img src="{{ asset('assets/images/icons/library.svg') }}"> Biblioteca </a> 
        <a class="menu-lateral-link" href="{{ route('videos.hist')}}"> <img src="{{ asset('assets/images/icons/historic.svg') }}"> Histórico  </a>
        <hr class="hr-2">
    </nav>

    <script>
        let subMenu = document.getElementById('subMenu');
        function openMenu() {
            subMenu.classList.toggle("open-menu");
        }
        function abrirMenu(){
            document.getElementById('menu').style.width = '250px';
            document.getElementById('conteudo').style.marginLeft = '250px';
        }
        function fecharMenu(){
            document.getElementById('menu').style.width = '0';
            document.getElementById('conteudo').style.marginLeft = '0';
        }
        function excluir(){
            if(window.confirm("Deseja excluir seu perfil ?")){
                window.location.href = '{{ route('auth.edit') }}'
            }
        }  
    </script>

</body>
</html>