<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content=" Entre para o SlayDios e faça parte da nova plataforma de vídeos estudantis">
    <title> Meu perfil </title>
</head>
<body>

    <a  href="{{ route('auth.edit') }}">Editar Perfil</a>
    <a  href="{{ route('videos.admin') }}">Voltar para os Vídeos</a>

    <p hidden> id: {{auth.user.id}} </p>
    <p> E-mail: {{auth.user.email}} </p>
    <p> Usuário: {{auth.user.user}} </p>
    <p> Senha: Para alterar sua senha, clique em editar perfil </p>
    

    
    
</body>
</html>