<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content=" Entre para o SlayDios e faça parte da nova plataforma de vídeos estudantis">
    <title> Edite seu Perfil </title>
</head>
<body>

    <h1> Edite Seu Perfil </h1>

    <form action="{{ route('auth.update', { id: auth.user.id })  }}" method="POST">
        <div class="textfield">
            <label for="User"> User: </label>
            <input name="user" id="user" placeholder="User">
        </div>
        <div class="textfield">
            <label for="mail"> Email: </label>
            <input type="email" name="email" id="mail" placeholder="Email">
        </div>
        <div class="textfield">
            <label for="password"> Senha: </label>
            <input type="password" name="password" id="senha" placeholder="Senha">
        </div>
        <button class="btn-login"> ALTERAR </button>
    </form>

    
    
</body>
</html>

