PORT=3333
HOST=0.0.0.0
DOMAIN=http://${HOST}:${PORT}
NODE_ENV=development
APP_KEY=dOw8rx9pHyjpEZ4tL__FytxrNSwzo6yb
DRIVE_DISK=local
SESSION_DRIVER=cookie
CACHE_VIEWS=false
DB_CONNECTION=sqlite
SMTP_HOST=localhost
SMTP_PORT=587
SMTP_USERNAME=<username>
SMTP_PASSWORD=<password>
