<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="A nova plataforma de vídeos estudantis">
    <title> {{titulo}} </title>
    <link rel="stylesheet" type="text/css" href="/css/loginStyle.css">
    @!section('style')
</head>
<body>
    @!section('body')
</body>
</html>