@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

.cabecalho {
    height: 60px;
    padding: 0px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /*background-color: #222d39;*/
}  

.cabecalho-start {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.ancora-logo {
    height: 40px;
}

.cabecalho-logo {
    height: 40px;
    padding: 0px;
}

.cabecalho-menu {
    margin-right: 1%;
    display: flex;
    gap: 20px;
}

.cabecalho-menu-link {
    color: aliceblue;
}

main {
    padding: 10px;
    transition: margin-left 0.4s;
}

.main > h1 {
    color: #00ff88;
    width: 45vw;
    text-transform: capitalize;
    margin: 0px;
}

.main > h2 {
    color: #1aecc5;
    width: 45vw;
    text-transform: capitalize;
    margin: 0px;
}


.links{
    background-color: #00ff88;
    color: white;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    -moz-border-radius:8px;	
    border-radius:8px;
}

.links > a {
    text-decoration: none;
    color: #2b134b;
}

.videos {
    background-color: #d1d5db;
    padding: 1rem;
    border-radius: 15px;
    position: absolute;
}

.videos > fieldset{
    -moz-border-radius:8px;	
    border-radius:8px;
}

