@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

.cabecalho {
    height: 60px;
    padding: 0px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /*background-color: #222d39;*/
    background-color: #34066a;
}  

.cabecalho-start {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.ancora-logo {
    height: 40px;
}

.cabecalho-logo {
    height: 40px;
    padding: 0px;
}

/* O menu do cabeçalho ta em um css separado, ja que tem coisas no Index (como o botão login e cadastre-se)
que so aparece nele, e esse aqui é o css padrão*/

main {
    width: 100%;
    height: 100%;
    padding: 25px 30px;
    transition: margin-left 0.4s;
}

.conteudo-texto {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.conteudo-texto > h1 {
    color: #00ff88;
    font-weight: 800;
    font-size: 50px;
}

.menu-conteudo-videos {
    background-color: #171717;
    margin-bottom: 20px;
    padding: 15px;
    overflow: hidden;
    border-radius: 5px;
}

.section-categorias {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.section-categorias > button {
    border: none;
    background-color: #272727;
    color: aliceblue;
    padding: 5px 13px;
    border-radius: 8px;
    cursor: pointer;
}

.conteudo-videos { 
    background-color: #171717; 
    border-radius: 5px;   
}

/*.conteudo-videos {
    display: flex;
    flex-wrap: wrap;
    background-color: #171717;
    padding: 15px;
    border-radius: 5px;
}*/

/*.section-conteudo-videos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 3rem 1rem;
    padding: 3rem 0;
    margin: 0 1.5rem;
    border: 4px solid #171717
}*/

.section-conteudo-videos {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    margin-top: 30px;
}

.section-conteudo-videos:first-child {
    border-top: none;
}

.container-conteudo-videos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

/*.container-conteudo-videos {
    display: flex;
    flex-direction: row;
    gap: 100px;
}*/

.videos {
    max-width: 270px;
    max-height: 250px;
    display: flex;
    flex-direction: column;
    margin: 0 25px 10px 25px;
}

.thumbnail {
    display: flex;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    min-width: 250px;
    min-height: 150px;
    background-color: #272727;
}

/*.conteudo-videos-details {
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;
}*/

.conteudo-videos-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 0.5rem;
}

/*.video-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}*/

.video-metadados {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 140px
}

.video-description {
    font-size: 1rem;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    color: aliceblue;
}

.video-views {
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: .5rem;
    color: rgb(176, 179, 182);
}

.video-delete {
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: .5rem;
    color: rgb(184, 6, 33);
}


