@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

.cabecalho {
    height: 60px;
    padding: 0px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /*background-color: #222d39;*/
    background-color: #34066a;
}  

.cabecalho-start {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.ancora-logo {
    height: 40px;
}

.cabecalho-logo {
    height: 40px;
    padding: 0px;
}

/* O menu do cabeçalho ta em um css separado, ja que tem coisas no Index (como o botão login e cadastre-se)
que so aparece nele, e esse aqui é o css padrão*/

main {
    width: 100%;
    height: 100%;
    padding: 25px 30px;
    transition: margin-left 0.4s;
}

.conteudo-texto {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.conteudo-texto > h1 {
    color: #00ff88;
    font-weight: 800;
    font-size: 50px;
}

.menu-conteudo-videos {
    background-color: #171717;
    margin-bottom: 20px;
    padding: 15px;
    overflow: hidden;
    border-radius: 5px;
}

/*.conteudo-videos > fieldset {
    border: none;
    display: flex;
    flex-direction: row;
}

.conteudo-videos > fieldset table {
    width: 33%;
    background-color: #00ff88;
}*/

.section-categorias {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.section-categorias > button {
    border: none;
    background-color: #272727;
    color: aliceblue;
    padding: 5px 13px;
    border-radius: 8px;
    cursor: pointer;
}

.conteudo-videos {
    display: flex;
    flex-wrap: wrap;

    background-color: #171717;
    padding: 15px;
    border-radius: 5px;
}

.container-conteudo-videos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.videos {
    background-color: #d1d5db;
    padding: 1rem;
    border-radius: 15px;
    position: absolute;
}

.videos > fieldset{
    -moz-border-radius:8px;	
    border-radius:8px;
}

