.input-menu-lateral[type="checkbox"] {
    display: none;
}

.label-menu-lateral {
    height: 35px;
    padding: 0 5px;
    border-radius: 50px;
    cursor: pointer;
}

.label-menu-lateral:hover {
    background-color: #5f19af
}

.img-menu-lateral {
    height: 25px;
    margin: 5px 0;
    cursor: pointer;
}

.nav-menu-lateral {
    height: 100%;
    width: 0px;
    background-color: #34066a;
    /*background-color: #222d39;*/
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    transition: width 0.3s;
}

.hr-1 {
    height: 1px;
    color: aliceblue;
    margin-bottom: 10px;
}

.hr-2 {
    height: 1px;
    color: aliceblue;
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu-lateral-link {
    color: aliceblue;
    font-family:  "Roboto","Arial",sans-serif;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 500;
    display: block;
    padding: 14px 10px 14px 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.menu-lateral-link > img {
    height: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-lateral-link:hover {
    background-color: #5f19af;
}


