.cabecalho-menu {
    width: 50%;
    height: 100%;
    margin-right: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.cabecalho-menu-link {
    padding: 5px 15px;
    color: aliceblue;
    border-radius: 20px;
}

.cabecalho-menu-link:hover {
    background-color: #490993;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.show {
    color: aliceblue;
}