@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
    margin: 0; 
    font-family: 'Noto Sans', sans-serif;
}

.main-login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #15202B;
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1 {
    margin: 0;
    color: #6C4DE6;
    width: 45vw;    
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-login {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #222d39;
    border-radius: 20px;
    box-shadow: 0px 10px 50px #00000056; 
}

.card-login > h1 {
    color: #ffffff;
    font-weight: 800;
    margin: 0;
  }